<as-split direction="horizontal">
    <as-split-area [size]="60">
        <as-split direction="vertical">
            <as-split-area [size]="95">
                <ag-grid-angular style="width: 100%; height: 100%" class="ag-theme-alpine" [rowData]="rowData"
                    [columnDefs]="columnDefs">
                </ag-grid-angular>
            </as-split-area>
            <as-split-area [size]="5">
                <p>

                </p>
            </as-split-area>
        </as-split>
    </as-split-area>
</as-split>